@import url("./assets/style/header.css");
@import url("./assets/style/singleBook.css");
@import url("./assets/style/sider.css");

* {
  font-family: "Inter" sans-serif;
}

body {
  margin: 0;
  font-family: "Inter" sans-serif !important;
}

code {
  font-family: "Inter" sans-serif !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

